div {
			width: 900px;
			height: 250px;
			border-radius: 8px;
			border-style: solid;
    		border-width: 5px;
    		border-color: #d3d3d3;
    		margin-top: 200px;
			margin-left: 270px;
			margin-right: 280px;
	}
	h2 {
			font-family: sans-serif;
			width:300px;
			margin-left: 340px;
			margin-right: 390px;
	}
	.table_and_link {
			text-align: center;
			width:880px;
			height: 80px;
			border:none;
			/*border-color: green;*/
			border-width:1px;
			border-width: 1px;
    		margin-top: 35px;
			margin-left: auto;
			margin-right: auto;
			text-decoration: none;
	}
	.only_table {
		margin-left: 300px;
		margin-top: -5px;
	}
	.link {
			width:870px;
			height:20px;
			border:none;
    		margin-top:-30px;
			margin-left: 270px;
			margin-right: 280px;
			font-family: monospace;
			font-size:14px;
	}
	.labels {
		text-align: left;
	}
	.btn {
		margin-top: -70px;
		margin-left: 340px;
		margin-right: 390px;
		border-width: 1px;
		border: none;
		/*border-color: red;*/
		width: 880px;
		height: 80px;
	}
	/*.mybutton {
			width: 60px;
			height:20px;
			font-weight: 700;
			font-size: 12px;
			background: #c0c0c0;
			border:none;
			color: black;
			border-width: 0px;
			border-radius: 5px;
			float: center;
			margin-top: -10px;
			margin-left: 340px;
			margin-right: 390px;
	}*/
	.mybutton_left {
		flow:left;
		width: 60px;
			height:20px;
			font-weight: 700;
			font-size: 12px;
			background: #c0c0c0;
			/*border:none;*/
			color: black;
			border-width: 0px;
			border-radius: 5px;
			float: center;
			margin-top: -10px;
		margin-left: 280px;
		margin-right: 330px;
	}
	.mybutton_right {
		flow:left;
		width: 60px;
			height:20px;
			font-weight: 700;
			font-size: 12px;
			background: #c0c0c0;
			/*border:none;*/
			color: black;
			border-width: 0px;
			border-radius: 5px;
			float: center;
			margin-top: -10px;
		margin-left: 400px;
		margin-right: 450px;
	}
	.error {
		color: #ff0000;
		font-family: monospace;
	}
	a {
		color:#4169e1;
	}